<footer class="footer">
  <div class="container">
    <div class="content has-text-centered">
      <p>
        <strong><a href="https://softuni.bg">SoftUni</a></strong> - Уеб програмиране с Ruby on Rails – октомври 2017.
      </p>
    </div>
  </div>
</footer>